.App {
  text-align: center;
}

.App-logo,.App-logo-right {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  display: inline;
}

.App-logo-right {
  animation: App-logo-spin-right infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: row-reverse;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-right {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

#home, #history{
  margin-top: 2%;
}

.author{
  position: fixed;
  left: 0%;
  font-size: 12px;
  margin-top: 4%;
}